.App {
  text-align: center;
  background: white;
  width: 800px;
  margin: 50px auto;
  border-radius: .5rem;
  padding: 30px;
  height: 100vh;
}

body {
  background: rgb(238, 237, 234);
}

i  {
  width: 250px;
  font-size: 12rem;
  color: rgb(109, 109, 231);
}
